
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');
@import "variables";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, p , h1, h4 {
  margin: 0;
  padding: 0;
}

body {
  background-color: $baseColor-black;
  background-image: url('../multimedia/img/pat.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: $baseColor-white;
  font-family: $baseFont;
}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: $baseColor-white;
  display: inline-block;
}

#logoNav, #logoFooter {
  border-radius: 50%;
  width: 60%;
}

#logoNav:hover ,#logoFooter:hover {
  transform: scale(1.1);
}


/**** HEADER ****/
header {
  height: 20vh;
}

/* daatos de contacto navbar*/
.contact-nav {
  background-color: $baseColor-red;
  font-size: 0.8rem;
}

.contact-nav__list {
  overflow: hidden; 
}

.contact-nav__li {
  padding: 0.4rem 0.5rem;
}

.contact-nav__link {
  display: flex;
}

.contact-nav__icon {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}

.contact-nav__text{
  display: none;
}

.contact-nav__li--left {
  float: left;  
}

.contact-nav__li--right, .contact-nav__li--tel {
  float: right;
}

.contact-nav__li:hover .contact-nav__link {
  color: $baseColor-black;
}

/* barra de navegacion*/
.headerNav {
  background-color: $baseColor-black;
  background-image: url(../multimedia/img/pat.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
  height: 100px;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 101;
}

.logoNav {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 8rem;
  display: none;
}

.title {
  height: auto;
  width: 100%;
  padding: 5px 0px 2px;
  $fontSize: 3rem;

  h1 {
    color: $baseColor-white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: $fontSize;
    word-spacing: -1rem;
    letter-spacing: 0.2rem;
    text-align: center;
    padding-left: 1.5rem;
    span {
      color: $baseColor-red;
      font-style: italic;
      font-size: $fontSize/2;
      text-transform: lowercase;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}

.navbar-toggler {
  position: absolute;
  top: 2rem;

  &:focus {
    box-shadow: 0 0 0 0;
  }
}

.fa-bars {
  font-size: 2rem;
  color: $baseColor-white;
  margin: 0;
}

.navbar-collapse {
  justify-content: center;
  z-index: 100;
  background-color: $baseColor-black;
  background-image: url(../multimedia/img/pat.svg);
}

.nav-item {
  padding: 0px 7px;
}

.nav-link {
  color: $baseColor-white;
  &:hover {
    color: $baseColor-red;
    transition: 0.5s;
  }
}

.focus-nav a{
  color: $baseColor-red;
  font-weight: 900;
}

/* titulos principales de cada pagina */
.pageTitle {
  color: $baseColor-yellow;
  font-weight: 600;
  font-size: $fontSize*0.60;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  &:hover, &:focus {
    background-size: 100% 2px;
  }
}

/**** FOOTER ****/
.footer {
  background-color: $baseColor-yellow;
  $bg-color: $baseColor-yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .footer-item {
    display: inline-block;
    text-align: center;
    width: 30%;
    .footer__list {
      .footer__li{
        padding: 4px;
        font-weight: 900;
       }
      .footer__link{
      @if ($bg-color == $baseColor-yellow){
        color: $baseColor-black;
        &:hover {
          color: $baseColor-white;
        }
      } @else if ($bg-color == $baseColor-black){
        color: $baseColor-yellow;
        &:hover {
          color: $baseColor-white;
        }
      } @else if ($bg-color == $baseColor-red) {
        color: $baseColor-white;
        &:hover {
          color: $baseColor-black;
        }
      } 
      text-transform: capitalize;
      }
    }
  }
}

.footer-icons__link {
padding: 10px;
}
.footer-icons__img {
  width: 45px;
  &:hover {
    transform: rotate(-20deg);
  }
}

/*/// HOME ///*/

.home-container {
  height: 70vh;
}

/* carousel */
$carouselImage: (
  1: '../multimedia/img/carousel/michael-wave-G3tRHpENRTs-unsplash.jpg',
  2: '../multimedia/img/carousel/niklas-rhose-FlmXvqlD-nI-unsplash.jpg',
  3: '../multimedia/img/carousel/peter-dawn-sxZ_Ca6MkWM-unsplash.jpg'
);

.carousel-section {
  margin: 1rem 0;
}
.carousel-item{
  width: 100%;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.carousel-inner {
  @each $image, $url in $carouselImage {
    .item-#{$image} {
      background-image: url($url);
    }
  }
}

@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}


/* categorias de productos */

  .categories__list {
    display: flex;
    justify-content: space-around;
  }
  
  .categories__img {
    width: 4.5rem;
    border: solid 3px #fcf6f2;
  }

  .categories__title {
    text-transform: capitalize;
    text-align: center;
    font-size: 0.9rem;
    color: $baseColor-white;
  }

/* seccion de productos y más*/
.sectionContent {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 35px;
  justify-content: center;
}

.item {
  display: inline-block;
  min-width: 250px;
  min-height: 250px;
  max-width: 270px;
  max-height: 315px;
  box-shadow: 8px 10px 15px 2px #000;
  justify-self: center;
  &:hover{
    box-shadow: 8px 10px 15px 9px #000;
    .item__link{
      color: $baseColor-white;
    }
  }

  .item__img {
    width: 17rem;
    z-index: 1;
  }

  .item__title {
    text-align: center;
    text-transform: capitalize;
    padding: 8px 0px;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
  }
  
}

/* MAIN SECTIONS */
main {
  width: 90%;
  margin: 20px auto;
  min-height: 80vh;
}

/*/// PRODUCTOS ///*/

/* nabvar bootstrap */
.nav-tabs {
  border-bottom: 1px solid $baseColor-yellow;

  .nav-link {
    color: $baseColor-black;
    background-color: $baseColor-yellow;
    border-color: $baseColor-yellow;
    box-shadow: 10px 10px 10px $baseColor-black;
    padding: 0.4rem;

    h3 {
      font-size: 1.2rem;
      font-weight: 600;
      margin: 0;
      &::first-letter {
        text-transform: uppercase;
      }
    }
  }
  .nav-item {
    padding: 2px;
  }
  
}

.productCategory {
  background-color: transparent;
  text-align: center;
  margin: 20px 0;
  article {
    display: grid;
    padding: 10px;
    align-content: start;
    .item {
      max-width: 270px;
      max-height: 270px;
      .item__image {
        height: 270px;
        width: 270px;
      }
    }
    .description {
      background-color: $baseColor-black;
      box-shadow: 8px 10px 15px 2px #000;
      border-radius: 10px;
      justify-self: center;
      align-self: start;
      width: 255px;
      padding: 0px 2% 10px;
      position: relative;
      margin-top: -14px;
      h4 {
        text-transform: capitalize;
        font-weight: bold;
        padding: 1rem 0;
      }
      hr {
        width: 230px;
        margin: auto;
        color: $baseColor-white;
        background-color: $baseColor-white;
        opacity: 0.5;
      }
      p {
        letter-spacing: 0.1rem;
        margin-top: 8px;
      }
      .button-list {
        margin: 15px 0;
        .button-item {
          margin: 5px;
          button {
            width: 1.5rem;
            margin: 0 5px;
            border: transparent;
            border-radius: 5px;
            background-color: $baseColor-yellow;
            color: $baseColor-black;
          }
          span {
            padding: 0 3px;
          }
          .comprar {
            width: fit-content;
            padding: 1px 55px;
            text-transform: capitalize;
            margin-top: 5px;
          }
        }
      }
      
    }
  }
}

/* List / Maps of products images */

$productImage: (
  tradicional: '../multimedia/img/tradicional/tradicional-carne\ vacuna.jpg',
  bajoCero1: '../multimedia/img/bajo cero/bajo\ cero-100\ carne\ vacuna.jpg',
  bajoCero2: '../multimedia/img/bajo cero/bajo\ cero-100\ pechuga.jpg',
  parmesano: '../multimedia/img/gold/gold-parmesano.jpg',
  brasas: '../multimedia/img/gold/gold-a las brasas.jpg',
  bacon: '../multimedia/img/gold/gold-cheese & bacon.jpg',
  pork: '../multimedia/img/gold/gold-sweet pork.jpg'
);

$productImageHover: (
  tradicional: '../multimedia/img/tradicional/recuadro-tradicional\ 2.jpg',
  bajoCero1: '../multimedia/img/bajo cero/bajoCeroCarne.jpg',
  bajoCero2: '../multimedia/img/bajo cero/bajoCeroPollo.jpg',
  parmesano: '../multimedia/img/gold/burger-parmesano.jpg',
  brasas: '../multimedia/img/gold/burger-brasas.jpg',
  bacon: '../multimedia/img/gold/cheese-and-bacon2.jpg',
  pork: '../multimedia/img/gold/burger-sweetPork.jpg'
);

@each $name, $value in $productImage {
  .item-#{$name} {
    .item__image {
      background-image: url($value);
      background-repeat: no-repeat;
      background-size: contain;
      transition: all 1s;
    }
  }
}

@each $name, $value in $productImageHover {
  .item-#{$name}:hover {
    .item__image {
      background-image: url($value);
    }
  }
}

/*/// NOSOTROS ///*/
.nosotros {
 width: 90%;
 margin: 0 auto;
 .somos-hus {
   display: none;
   width: 405px;
   height: 40px;
   margin: 8% auto;
   font-size: 2.3rem;
   line-height: 40px;
   overflow: hidden;
   color: $baseColor-white;
   text-transform: uppercase;
   ul {
     padding-left: 0.5rem;
     animation: cambiar 7s infinite;
     color: $baseColor-red;
     font-style: italic;
     text-transform: capitalize;
   }
  }
  .sobre-nosotros {
    letter-spacing: 0.15rem;
  }
}

@keyframes cambiar {
  0% { marigin-top: 0;}
  20% {margin-top: 0;}

  25% {margin-top: -40px;}
  50% {margin-top: -40px;}

  55% {margin-top: -80px;}
  80% {margin-top: -80px;}

  85% {margin-top: -40px;}
  95% {margin-top: -40px;}

  100% {margin-top: 0;}

}



/*/// DONDE ESTAMOS ///*/

/*contacto*/
.contactOrder {
  text-align: center;
  margin: 20px auto;
}

/* comercios amigos*/
.friendShop {
  text-align: center;
  margin: 20px auto;
  .pageTitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
  .shop {
    display: inline-block;
    text-align: center;
    margin: 25px;
    .shop-title {
      text-transform: capitalize;
    }
    a {
      color: $baseColor-white;
      &:hover {
        color: $baseColor-yellow;
      }
    }
  }
}


/*/// CONTACTO ///*/
.contact {
  margin: 50px auto;
}
.contact__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact__item {
  .contact__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    &:hover {
      color: $baseColor-yellow;
      transition: all 0.3s;
    }
  }
  .contact__icon {
    font-size: 2rem;
    padding-bottom: 8px;
  }
}

.form-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

iframe {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

/*/// 404 NOT FOUND ///*/

.container-page-error {
  height: 100vh;
  position: relative;
}

.container-text {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .page-error-icon {
    font-size: 4rem;
    .fa-sad-tear {
      padding: 2%;
      font-size: 3.7rem;
    }
  }
  .page-error-title {
    text-transform: uppercase;
  }
  .page-error-text::first-letter {                                                
    text-transform: capitalize;
  }
  .back-button {
    padding: 10px;
    margin-top: 4rem;
    border-radius: 15px;
    background-color: darken($baseColor-yellow, 8);
    color: #151719;
    font-weight: 600;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.1);
      background-color: $baseColor-yellow;
    }
  }
}


/*//////  MEDIA QUERYS //////*/ 
@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}

@media only screen and (min-width: 768px) {

  h1 {
    font-size: 3.5rem;
  }

  .contact-nav__text {
    display: block;
  }

  .contact-nav__li--left, .contact-nav__li--tel {
    float: left;
  }

  .headerNav {
    height: 105px;
  }

  .home-container {
    height: 80vh;
  }

  .sectionContent {
    grid-template-columns: 1fr 1fr;
  }

  .categories__title {
    font-size: 1rem;
  }

  .footer {
    padding: 20px 0;
  }
  .container-text {
    .page-error-icon {
      font-size: 5rem;
      .fa-sad-tear {
        padding: 1%;
        font-size: 4.4rem;
      }
    }
  }

  .productCategory {
    display: grid;
    grid-template-columns: 1fr 1fr;
    article {
      padding: 10px;
      .item {
        max-width: 350px;
        max-height: 350px;
        .item__image {
          height: 280px;
          width: 280px;
        }
      }
      .description {
        width: 260px;
      }
    }
  }

  .nosotros {
    .somos-hus {
      display: flex;
    }
  }
}

@media only screen and (min-width: 992px) {

  .logoNav {
    display: block;
    width: 10rem;
  }

  .navbar-collapse {
    background-color: transparent;
  }

  .container-fluid {
    flex-direction: column;
  }

  .categories {
    margin: 0 15%;
    img {
      width: 5rem;
    }
  }

  .categories__title {
    color: transparent;
  }
  .categories__li:hover {
    .categories__img {
      transform: scale(0.9);
      transition: 0.3s;
    }
    .categories__title {
      transform: scale(1.1);
      transition: 0.3s;
      color: $baseColor-white;
    }
  }

  .sectionContent {
    grid-template-columns: 1fr 1fr 1fr;
  }

  main {
    margin: 3rem auto;
  }

  .productCategory {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    article {
      .description {
        padding: 0px 5%;
        p {
          padding: 5px 0px;
        }
      }
    }
  }

}

@media only screen and (min-width: 1200px) {
  .productCategory {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
}
