@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, p, h1, h4 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #151719;
  background-image: url("../multimedia/img/pat.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  color: #fefbf9;
  font-family: "Lato", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fefbf9;
  display: inline-block;
}

#logoNav, #logoFooter {
  border-radius: 50%;
  width: 60%;
}

#logoNav:hover, #logoFooter:hover {
  transform: scale(1.1);
}

/**** HEADER ****/
/* daatos de contacto navbar*/
.contact-nav {
  background-color: #ea3048;
  font-size: 0.8rem;
}

.contact-nav__list {
  overflow: hidden;
}

.contact-nav__li {
  padding: 0.4rem 0.5rem;
}

.contact-nav__link {
  display: flex;
}

.contact-nav__icon {
  margin: 0 0.5rem;
  font-size: 1.1rem;
}

.contact-nav__text {
  display: none;
}

.contact-nav__li--left {
  float: left;
}

.contact-nav__li--right, .contact-nav__li--tel {
  float: right;
}

.contact-nav__li:hover .contact-nav__link {
  color: #151719;
}

/* barra de navegacion*/
.headerNav {
  background-color: #151719;
  background-image: url(../multimedia/img/pat.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  width: 100%;
  height: 100px;
  padding: 0;
  position: sticky;
  top: -1px;
  z-index: 101;
}

.logoNav {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  width: 8rem;
  display: none;
}

.title {
  height: auto;
  width: 100%;
  padding: 5px 0px 2px;
}
.title h1 {
  color: #fefbf9;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3rem;
  word-spacing: -1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-left: 1.5rem;
}
.title h1 span {
  color: #ea3048;
  font-style: italic;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: 400;
  letter-spacing: 0;
}

.navbar-toggler {
  position: absolute;
  top: 2rem;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}

.fa-bars {
  font-size: 2rem;
  color: #fefbf9;
  margin: 0;
}

.navbar-collapse {
  justify-content: center;
  z-index: 100;
  background-color: #151719;
  background-image: url(../multimedia/img/pat.svg);
}

.nav-item {
  padding: 0px 7px;
}

.nav-link {
  color: #fefbf9;
}
.nav-link:hover {
  color: #ea3048;
  transition: 0.5s;
}

.focus-nav a {
  color: #ea3048;
  font-weight: 900;
}

/* Boton para volver al home en mobile*/
.title-btn {
  display: flex;
  align-items: center;
}
.title-btn i {
  font-size: 1.5rem;
  color: #ea3048;
}

/* titulos principales de cada pagina */
.pageTitle {
  color: #f0be3b;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
  margin: 10px auto 20px;
}

/* Boton para volver al home en mobile*/
/**** FOOTER ****/
.footer {
  background-color: #f0be3b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer .footer-item {
  display: inline-block;
  text-align: center;
  width: 30%;
}
.footer .footer-item .footer__list .footer__li {
  padding: 4px;
  font-weight: 900;
}
.footer .footer-item .footer__list .footer__link {
  color: #151719;
  text-transform: capitalize;
}
.footer .footer-item .footer__list .footer__link:hover {
  color: #fefbf9;
}

.footer-icons__link {
  padding: 10px;
}

.footer-icons__img {
  width: 45px;
}
.footer-icons__img:hover {
  transform: rotate(-20deg);
}

/*/// HOME ///*/
/* carousel */
.carousel-item {
  width: 100%;
  height: 310px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.carousel-inner .item-1 {
  background-image: url("../multimedia/img/carousel/michael-wave-G3tRHpENRTs-unsplash.jpg");
}
.carousel-inner .item-2 {
  background-image: url("../multimedia/img/carousel/niklas-rhose-FlmXvqlD-nI-unsplash.jpg");
}
.carousel-inner .item-3 {
  background-image: url("../multimedia/img/carousel/peter-dawn-sxZ_Ca6MkWM-unsplash.jpg");
}

/* categorias de productos */
.categories h2 {
  color: #fefbf9;
}

.categories__list {
  display: flex;
  justify-content: space-around;
}

.categories__img {
  width: 4.5rem;
  border: solid 3px #fcf6f2;
}

.categories__title {
  text-transform: capitalize;
  text-align: center;
  font-size: 0.9rem;
  color: #fefbf9;
}

.homeSection {
  width: 90%;
  margin: 50px auto;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 6.5rem;
  font-size: 1.2rem;
}
.step .step-icon {
  width: 70px;
  height: 70px;
}
.step .step-title {
  color: #f0be3b;
  font-weight: 900;
}
.step .step-text {
  padding: 1rem;
}
.step .step-text .step-link {
  color: #f0be3b;
  text-decoration: underline;
}

/* MAIN SECTIONS */
main {
  width: 90%;
  margin: 20px auto;
  min-height: 80vh;
}

/*/// PRODUCTOS ///*/
/* nabvar bootstrap */
.nav-tabs {
  border-bottom: 1px solid #f0be3b;
}
.nav-tabs .nav-link {
  color: #151719;
  background-color: #f0be3b;
  border-color: #f0be3b;
  box-shadow: 10px 10px 10px #151719;
  padding: 0.4rem;
}
.nav-tabs .nav-link h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.nav-tabs .nav-link h3::first-letter {
  text-transform: uppercase;
}
.nav-tabs .nav-item {
  padding: 2px;
}

.item {
  display: inline-block;
  min-width: 250px;
  min-height: 250px;
  max-width: 270px;
  max-height: 315px;
  box-shadow: 8px 10px 15px 2px #000;
  justify-self: center;
}
.item:hover {
  box-shadow: 8px 10px 15px 9px #000;
}
.item:hover .item__link {
  color: #fefbf9;
}

.productCategory {
  background-color: transparent;
  text-align: center;
  margin: 20px 0;
}
.productCategory article {
  display: grid;
  padding: 10px;
  align-content: start;
}
.productCategory article .item {
  max-width: 270px;
  max-height: 270px;
}
.productCategory article .item .item__image {
  height: 270px;
  width: 270px;
}
.productCategory article .description {
  background-color: #151719;
  box-shadow: 8px 10px 15px 2px #000;
  border-radius: 10px;
  justify-self: center;
  align-self: start;
  width: 255px;
  padding: 0px 2% 10px;
  position: relative;
  margin-top: -14px;
}
.productCategory article .description h4 {
  text-transform: capitalize;
  font-weight: bold;
  padding: 1rem 0;
}
.productCategory article .description hr {
  width: 230px;
  margin: auto;
  color: #fefbf9;
  background-color: #fefbf9;
  opacity: 0.5;
}
.productCategory article .description p {
  letter-spacing: 0.1rem;
  margin-top: 8px;
}
.productCategory article .description .button-list {
  margin: 15px 0;
}
.productCategory article .description .button-list .button-item {
  margin: 5px;
}
.productCategory article .description .button-list .button-item button {
  width: 1.5rem;
  margin: 0 5px;
  border: transparent;
  border-radius: 5px;
  background-color: #f0be3b;
  color: #151719;
}
.productCategory article .description .button-list .button-item span {
  padding: 0 3px;
}
.productCategory article .description .button-list .button-item .comprar {
  width: fit-content;
  padding: 1px 55px;
  text-transform: capitalize;
  margin-top: 5px;
}

/* List / Maps of products images */
.item-tradicional .item__image {
  background-image: url("../multimedia/img/tradicional/tradicional-carne vacuna.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-bajoCero1 .item__image {
  background-image: url("../multimedia/img/bajo cero/bajo cero-100 carne vacuna.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-bajoCero2 .item__image {
  background-image: url("../multimedia/img/bajo cero/bajo cero-100 pechuga.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-parmesano .item__image {
  background-image: url("../multimedia/img/gold/gold-parmesano.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-brasas .item__image {
  background-image: url("../multimedia/img/gold/gold-a las brasas.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-bacon .item__image {
  background-image: url("../multimedia/img/gold/gold-cheese & bacon.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-pork .item__image {
  background-image: url("../multimedia/img/gold/gold-sweet pork.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s;
}

.item-tradicional:hover .item__image {
  background-image: url("../multimedia/img/tradicional/recuadro-tradicional 2.jpg");
}

.item-bajoCero1:hover .item__image {
  background-image: url("../multimedia/img/bajo cero/bajoCeroCarne.jpg");
}

.item-bajoCero2:hover .item__image {
  background-image: url("../multimedia/img/bajo cero/bajoCeroPollo.jpg");
}

.item-parmesano:hover .item__image {
  background-image: url("../multimedia/img/gold/burger-parmesano.jpg");
}

.item-brasas:hover .item__image {
  background-image: url("../multimedia/img/gold/burger-brasas.jpg");
}

.item-bacon:hover .item__image {
  background-image: url("../multimedia/img/gold/cheese-and-bacon2.jpg");
}

.item-pork:hover .item__image {
  background-image: url("../multimedia/img/gold/burger-sweetPork.jpg");
}

/*/// NOSOTROS ///*/
.nosotros {
  width: 90%;
  margin: 0 auto;
}
.nosotros .somos-hus {
  display: none;
  width: 405px;
  height: 40px;
  margin: 8% auto;
  font-size: 2.3rem;
  line-height: 40px;
  overflow: hidden;
  color: #fefbf9;
  text-transform: uppercase;
}
.nosotros .somos-hus ul {
  padding-left: 0.5rem;
  animation: cambiar 7s infinite;
  color: #ea3048;
  font-style: italic;
  text-transform: capitalize;
}
.nosotros .sobre-nosotros {
  letter-spacing: 0.15rem;
}

@keyframes cambiar {
  0% {
    marigin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
/*/// DONDE ESTAMOS ///*/
/*contacto*/
.contactOrder {
  text-align: center;
  margin: 20px auto;
}
.contactOrder .contact__list {
  justify-content: center;
  margin-top: 2rem;
}
.contactOrder .contact__list .contact__item {
  margin: 0.5rem;
  width: 10rem;
}

/* comercios amigos*/
.friendShop {
  text-align: center;
  margin: 20px auto;
}
.friendShop .pageTitle {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.friendShop .shop {
  display: inline-block;
  text-align: center;
  margin: 25px 10px;
  width: 250px;
  max-width: 280px;
}
.friendShop .shop .shop-img {
  width: 200px;
}
.friendShop .shop .shop-title {
  padding: 0.8rem 0;
}
.friendShop .shop p {
  display: inline;
}
.friendShop .shop a {
  color: #fefbf9;
}
.friendShop .shop a:hover {
  color: #f0be3b;
}

/*/// CONTACTO ///*/
.contact {
  margin: 50px auto;
}

.contact__list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact__item .contact__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
.contact__item .contact__link:hover {
  color: #f0be3b;
  transition: all 0.3s;
}
.contact__item .contact__icon {
  font-size: 2rem;
  padding-bottom: 8px;
}

.form-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

iframe {
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

/*/// 404 NOT FOUND ///*/
.container-page-error {
  height: 100vh;
  position: relative;
}

.container-text {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.container-text .page-error-icon {
  font-size: 4rem;
}
.container-text .page-error-icon .fa-sad-tear {
  padding: 2%;
  font-size: 3.7rem;
}
.container-text .page-error-title {
  text-transform: uppercase;
}
.container-text .page-error-text::first-letter {
  text-transform: capitalize;
}
.container-text .back-button {
  padding: 10px;
  margin-top: 4rem;
  border-radius: 15px;
  background-color: #edb115;
  color: #151719;
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}
.container-text .back-button:hover {
  transform: scale(1.1);
  background-color: #f0be3b;
}

/*//////  MEDIA QUERYS //////*/
@media (max-width: 600px) {
  .carousel-item {
    height: 280px;
  }
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  .pageTitle {
    width: max-content;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.3s;
  }
  .pageTitle:hover, .pageTitle:focus {
    background-size: 100% 2px;
  }

  .contact-nav__text {
    display: block;
  }

  .contact-nav__li--left, .contact-nav__li--tel {
    float: left;
  }

  .headerNav {
    height: 105px;
  }

  .categories__title {
    font-size: 1rem;
  }

  .homeSection {
    width: 70%;
  }

  .footer {
    padding: 20px 0;
  }

  .productCategory {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .productCategory article {
    padding: 10px;
  }
  .productCategory article .item {
    max-width: 350px;
    max-height: 350px;
  }
  .productCategory article .item .item__image {
    height: 280px;
    width: 280px;
  }
  .productCategory article .description {
    width: 260px;
  }

  .nosotros .somos-hus {
    display: flex;
  }

  .friendShop .shop {
    margin: 25px 20px;
  }

  .container-text .page-error-icon {
    font-size: 5rem;
  }
  .container-text .page-error-icon .fa-sad-tear {
    padding: 1%;
    font-size: 4.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .logoNav {
    display: block;
    width: 10rem;
  }

  .navbar-collapse {
    background-color: transparent;
  }

  .container-fluid {
    flex-direction: column;
  }

  .title-btn i {
    display: none;
  }

  .step {
    margin: 0.5rem 5rem;
  }

  .categories {
    margin: 0 15%;
  }
  .categories img {
    width: 5rem;
  }

  .categories__title {
    color: transparent;
  }

  .categories__li:hover .categories__img {
    transform: scale(0.9);
    transition: 0.3s;
  }
  .categories__li:hover .categories__title {
    transform: scale(1.1);
    transition: 0.3s;
    color: #fefbf9;
  }

  main {
    margin: 3rem auto;
  }

  .productCategory {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
  }
  .productCategory article .description {
    padding: 0px 5%;
  }
  .productCategory article .description p {
    padding: 5px 0px;
  }

  .friendShop .shop {
    margin: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .productCategory {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
